syntax: glob

*.zip
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*~
#*#
.#*
*.[Ss][Ww][Pp]
*.DS_Store
*.[Mm][Dd][Pp]

*.[Cc][Pp][Ll]
*.[Aa][Ww][Kk]
*.[Ee][Xx][Pp]
*.[Ii][Dd][Bb]
*.[Mm][Aa][Pp]
*.[Bb][Ss][Cc]
*.[Ss][Dd][Ff]
*.[Oo][Ll][Dd]
*.[Oo][Rr][Ii][Gg]
*.[Tt][Mm][Pp]

*.[Oo][Bb][Jj]
*.[Pp][Dd][Bb]
*.[Aa][Pp][Ss]
*.[Cc][Ll][Ww]
*.[Nn][Cc][Bb]
*.[Oo][Pp][Tt]
*.[Pp][Ll][Gg]
*.[Pp][Cc][Hh]
*.[Vv][Ss][Pp][Ss][Cc][Cc]
*.[Vv][Ss][Ss][Ss][Cc][Cc]
*_i.c
*_p.c
*.[Nn][Cc][Bb]
*.[Ss][Uu][Oo]
*.[Tt][Ll][Bb]
*.[Tt][Ll][Hh]
*.[Bb][Aa][Kk]
*.[Cc][Aa][Cc][Hh][Ee]
*.[Ii][Ll][Kk]
*.[Ll][Oo][Gg]
*.[Ss][Bb][Rr]
*.[Ss][Cc][Cc]
[Bb][Ii][Nn]
[Dd][Ee][Bb][Uu][Gg]*/
[Ii][Pp][Cc][Hh]/
[Oo][Bb][Jj]/
[Rr][Ee][Ll][Ee][Aa][Ss][Ee]*/
[Tt][Hh][Uu][Mm][Bb][Ss].[Dd][Bb]
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
[Ll][Ii][Bb]
[Dd][Ll][Ll]
[Ee][Xx][Ee]
*.[Ll][Oo][Cc][Aa][Ll]
*.[Cc][Gg][Ll]
*.[Bb][Cc][Cc]32[Pp][Cc][Hh]
[Bb][Uu][Ii][Ll][Dd]/

.svn/
.git/
